{{>header}}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">About Us</div>
        <div class="panel-body">
            {{content}}
            <br /><br />
            <p> Nam nisl dolor, interdum eu aliquet at, egestas non nunc. Curabitur sed fringilla lorem, sit amet euismod neque. Proin luctus dolor justo, sed fringilla sapien pretium a. Mauris ac faucibus urna. Phasellus eu odio nec arcu maximus aliquam at vitae velit. Aenean erat erat, dictum et nunc nec, elementum sagittis mauris. Vivamus volutpat quam ut arcu vestibulum pretium. Phasellus vehicula lacinia tortor, sit amet vestibulum sem mollis non. Maecenas lacinia eget libero non pellentesque. Maecenas congue sapien at ipsum rutrum pulvinar et a sapien.
            <br /><br />
            Aenean condimentum neque et arcu tempor, vel vehicula nisl vulputate. Integer laoreet turpis scelerisque nisi dictum, eget ultricies neque dictum. Nam quis accumsan massa, at congue justo. In facilisis lacinia luctus. Praesent a mi tempus, viverra ex et, consectetur ligula. Cras et purus ut tortor cursus bibendum. Integer a vestibulum purus, nec ultrices mauris. Pellentesque cursus ex lacus, ac faucibus eros vehicula sollicitudin. Maecenas a lectus et arcu rutrum ultricies. Aenean ut finibus risus, tristique commodo sem. Proin ante ante, scelerisque sit amet odio fermentum, sollicitudin eleifend urna. Vestibulum ut ultricies nibh, at euismod erat.
            <br /><br />
            Vestibulum iaculis accumsan ante, sed lacinia libero tincidunt sed. Aenean et ultrices leo. Suspendisse lacus dui, pellentesque dignissim nisl ut, sollicitudin convallis dolor. Ut interdum tellus ac mi ultricies elementum. Mauris volutpat efficitur dapibus. Duis aliquet fringilla ipsum eget auctor. Suspendisse id quam id turpis posuere elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla id elit commodo, congue felis ac, egestas purus. Fusce vitae lacus scelerisque, vulputate lacus vel, condimentum libero. Sed vel sagittis magna. </p>
        </div>
    </div>
</div>
