{{>header}}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Help?</div>
        <div class="panel-body">
            {{content}} 
            <br />
            <br />
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis tellus fermentum felis bibendum maximus sed quis nibh. Aliquam aliquam ultrices lacus, quis dictum urna ullamcorper ac. Nam ullamcorper egestas vestibulum. Donec imperdiet ultricies eros mollis aliquet. Aenean vel luctus ligula, id consectetur orci. Duis ullamcorper dignissim blandit. Vestibulum gravida tortor quis ante hendrerit bibendum. Curabitur non varius quam. Pellentesque maximus quis dui eget scelerisque. Etiam velit lacus, imperdiet ut erat gravida, commodo vestibulum est. Nulla et euismod lacus. Fusce in tempus ipsum. Etiam pellentesque tellus quis gravida feugiat. Nam maximus bibendum arcu euismod condimentum. Quisque id egestas mauris.
            <br /><br />
            Donec nulla ex, ullamcorper a tincidunt et, tincidunt quis augue. Vivamus rhoncus nibh felis, vitae mollis neque gravida at. Duis maximus odio purus. Nam vitae arcu quis sem volutpat aliquam. Nam pulvinar nisl id augue rutrum, nec semper erat aliquam. Sed orci massa, vulputate ullamcorper ipsum in, facilisis commodo velit. Phasellus rhoncus sem efficitur tortor pharetra, id viverra lorem tincidunt. Aliquam erat volutpat. Aenean nisl est, ornare eget sagittis sodales, accumsan consequat metus. Cras sed lectus convallis lacus feugiat euismod ut eget magna. Pellentesque est diam, commodo interdum dictum eu, laoreet et diam. Aliquam a vulputate mi.
            <br /><br />
            Nam nisl dolor, interdum eu aliquet at, egestas non nunc. Curabitur sed fringilla lorem, sit amet euismod neque. Proin luctus dolor justo, sed fringilla sapien pretium a. Mauris ac faucibus urna. Phasellus eu odio nec arcu maximus aliquam at vitae velit. Aenean erat erat, dictum et nunc nec, elementum sagittis mauris. Vivamus volutpat quam ut arcu vestibulum pretium. Phasellus vehicula lacinia tortor, sit amet vestibulum sem mollis non. Maecenas lacinia eget libero non pellentesque. Maecenas congue sapien at ipsum rutrum pulvinar et a sapien.
            <br /><br />
            Aenean condimentum neque et arcu tempor, vel vehicula nisl vulputate. Integer laoreet turpis scelerisque nisi dictum, eget ultricies neque dictum. Nam quis accumsan massa, at congue justo. In facilisis lacinia luctus. Praesent a mi tempus, viverra ex et, consectetur ligula. Cras et purus ut tortor cursus bibendum. Integer a vestibulum purus, nec ultrices mauris. Pellentesque cursus ex lacus, ac faucibus eros vehicula sollicitudin. Maecenas a lectus et arcu rutrum ultricies. Aenean ut finibus risus, tristique commodo sem. Proin ante ante, scelerisque sit amet odio fermentum, sollicitudin eleifend urna. Vestibulum ut ultricies nibh, at euismod erat. 
            </p>
        </div>
    </div>
</div>
