<!DOCTYPE html>
<html>
{{>head}}
<body>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" style="padding:5px 0 0 0;" class="navbar-brand"><img src="/img/weather.png" width="80px" height="45px" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </div>
</div>